/**Estilos para la pagina index.html*/

body{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    right: 0;
    background-image: url('../Images/home/background-home-desktop.jpg');
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.nav__logo{
    margin-inline-start: 4rem;
}
.nav__line{
    display: block;
    height: 0.1rem;
    padding-inline-start: 50rem;
    margin-inline-start: 380px;
    background-color:var(--secondary);
}
.nav__linkContainer{
    top:2rem;
    height: 6rem;
    padding: 2rem;
}
.explore{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-block-start: 4.8rem;
}
.explore__content{
    text-align: justify;
    font-size: 2.4rem;
}
.explore__oval{
    width: 22rem;
    height: 22rem;
}
/**Estilos para la pagina de destination.html*/

.destination{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    right: 0;
    background-image: url('../Images/destination/background-destination-desktop.jpg');
}
.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    justify-items: center;
    justify-content: center;
    margin-block-start: 4.8rem;
}
.planet{
    grid-area: 1/1/3/2;
}
.planet__image{
    width: 34rem;
    justify-self: center;
}
.planet__info{
    text-align: left;
}
.menu{
    justify-self: flex-start;
    align-items: flex-start;
}
.detail{
    grid-area: 2/2/3/3;
    justify-self: flex-start;
    margin-block-start: 2.6rem;
}
.detail__trip{
    justify-content: flex-start;
    gap: 5.8rem;
}
.detail__tittle{
    font-size: 1.4rem;
    text-align: left;
}
.detail__number{
    text-align: left;
}
.detail__line{
    width: 32rem;
}
/**Estilos para la pagina crew.html*/
.crewBackground{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('../Images/crew/background-crew-desktop.jpg');
}

.crewContainer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 0.5fr 1fr 0.5fr;
}
.crew__tittle{
    justify-self: start;
    margin-inline-start: 4.6rem;
}
.crew{
    grid-area: 1/2/4/3;
    align-self: flex-end;
}
.crewDots{
    margin-inline-start: 8.6rem;
    justify-self: start;
    align-self: flex-end;
}
.crewDescription{
    text-align: left;
}

/**Estilos para la pagina de technology.html*/
.tech{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    right: 0;
    background-image: url("../Images/technology/background-technology-desktop.jpg");
}
.technology{
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr;
}
.technology__title{
    grid-area: 1/1/2/3;
    justify-self: self-start;
    margin-inline-start: 4.6rem;
}
.technology__image{
    grid-area: 2/3/4/4;
    align-self: flex-start;
    height: 38rem;
    max-height: 32rem;
}
.technology__numbers{
    grid-area: 2/1/3/2;
    justify-self: center;
    flex-direction: column;
}
.technology__description{
    grid-area: 2/2/3/3;
    text-align: left;
}