:root{
    /* colors */
    --primary:#0B0D17;
    --secondary:#D0D6F9;
    --textColor:#FFFFFF;

    /* font */
    font-size: 62.5%;
    --textmd:1.4rem;
    --textlg:1.6rem;
    --textxl:2.8rem;    
    --textTittle:15rem;
    --textSubtittle:10rem;
    --textComplement:3.2rem;
    --textAuxiliary:5.6rem;
}

body{
    font-family: 'Bellefair', serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

.nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 30vh;
    margin-block-start: 4rem;
}

.nav__logoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background-color: red;
    border-radius: 50%;
}