:root{
    /* colors */
    --primary:#0B0D17;
    --secondary:#D0D6F9;
    --textColor:#FFFFFF;

    /* font */
    font-size: 62.5%;
    --textmd:1.4rem;
    --textlg:1.6rem;
    --textxl:2.8rem;    
    --textTittle:15rem;
    --textSubtittle:10rem;
    --textComplement:3.2rem;
    --textAuxiliary:5.6rem;
}

body{
    font-family: 'Bellefair', serif;
}