:root{
    /* colors */
    --primary:#0B0D17;
    --secondary:#D0D6F9;
    --textColor:#FFFFFF;

    /* font */
    font-size: 62.5%;
    --textmd:1.4rem;
    --textlg:1.6rem;
    --textxl:2.6rem;    
    --textTittle:15rem;
    --textSubtittle:10rem;
    --textComplement:3.2rem;
    --textAuxiliary:5.6rem;
}

body{
    font-family: 'Bellefair', serif;
    background-image: url('../Images/home/background-home-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;

}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.inactive{
    display: none;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 56rem;
    height: 20vh;
    margin-block-start: 1rem;
}

.nav__logoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    margin-inline-start: 2rem;
    margin-block-start: 0;
    background-color: var(--textColor);
    border-radius: 50%;
}
.nav__logo{
    width: 4rem;
    height: 4rem;
}
.nav__line{
    display: none;
    width: 15rem;
    height: 0.2rem;
    background-color: red;
}
.nav__list{
    display: none;
}
.nav__menuIcon{
    margin-inline-end: 2.8rem;
}
.explore__container{
    text-align: center;
    padding: 0 2rem;
}
.explore__tittle{
    font-weight: 300;
    font-size: var(--textAuxiliary);
    color: var(--textColor);
}
.explore__content{
    font-size: var(--textlg);
    color: var(--secondary);
}
.explore__oval{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    background-color: var(--textColor);
}
.explore__oval h2{
    font-weight: 300;
    line-height: 1.6rem;
    color: var(--primary);
}
.explore__shape{
    display: flex;
    justify-content: center;
    margin-block-start: 6rem;
}

/* STYLES TO MOBILE MENU */

.menu-mobile-container{
    position: absolute;
    right: 0;
    height: 100vh;
    min-height: 51rem;
    max-height: 90vh;
    margin-block-start: 540px;
    padding: 44px 56px;
    background: rgb(0,0,0);
    background: linear-gradient(183deg, rgba(0,0,0,1) 0%, rgba(97,97,97,1) 41%, rgba(0,5,57,1) 100%);
}
.menu-mobile-container ul{
    padding: 0;
    margin: 24px 24px 0 0;
    list-style: none;
}
.menu-mobile-container ul div{
    display: flex;
    justify-content: flex-end;
}
.menu-mobile-container ul img{
    margin-block-end: 46px;
}
.menu-mobile-container ul li{
    margin-bottom: 24px;
}
.menu-mobile-container ul li a{
    text-decoration: none;
    font-size: var(--textlg);
    font-weight: bold;
    color: var(--textColor);
}
.menu-mobile-container ul:nth-child(1){
    border-bottom: 1px solid var(--textColor);
}
.btn--close{
    margin-block-start: 2rem;
}


