body{
    background-image: url('../Images/home/background-home-tablet.jpg');
}

.nav{
    margin-block-start: 0rem;
}
.nav__logoContainer{
    background: none;
}
.nav__logo{
    position: absolute;
    top: 42px;
}

.nav__linkContainer{
    display: flex;
    align-items: center;
    position:absolute;
    right: 0;
    top: 0;
    height: 8rem;
    padding: 2rem;
    background-color: var(--complementary);
}
.nav__list{
    display: flex;
    justify-self: flex-end;
    gap: 1.8rem;
}
.nav__item a{
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--textColor);
}
.nav__item a:hover{
    border-bottom: solid 2px var(--textColor);
}
.nav__menuIcon{
    display: none;
}
.explore{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-block-start: 3.2rem;
}
.explore__container{
    text-align: center;
    max-width: 520px;
    /* padding: 0 6rem; */
}
.explore__content{
    font-size: 2rem;
}
.explore__tittle{
    margin-block-start: 0rem;
    margin-block-end: 0rem;
    font-size: 15rem;
}
.explore__oval{
    width: 18rem;
    height: 18rem;
}
.explore__oval h2{
    font-size: 2.8rem;
    font-weight: 300;
    line-height: 1.6rem;
    color: var(--primary);
}

/* estilos para la pagina de destination.html */
.destination{
    min-height: 1180px;
    background-image: url('../Images/destination/background-destination-tablet.jpg');
}
.planet__header{
    text-align: start;
    margin-block-start: 0;
    padding-left: 3.8rem;
    font-size: 2rem;
}
.planet__header span{
    font-size: 2rem;
}
.planet__image{
    width: 24rem;
}
.menu__container{
    gap: 2rem;
}
.menu__item a{
    font-size: 2rem;
}
.planet__name{
    font-size: 7.8rem; 
}
.planet__info{
    max-width: 520px;
    margin: 0 auto;
    font-size: 2rem;
}
.detail__trip{
    display: flex;
    justify-content: space-evenly;
}
.detail__tittle{
    font-size: 2.4rem;
   
}
.detail__number{
    font-size: 3rem;
}
/* Estilos para la pagina de crew.html */
.crewBackground{
    background-image: url('../Images/crew/background-crew-tablet.jpg');
}
.crewContainer{
    display: flex;
    flex-direction: column;
}
.crew{
    order: 3;
}
.crew__tittle{
    text-align: start;
    padding-left: 3.8rem;
    font-size: 2rem;
}
.crew__image img{
    width: 35rem;
    height: 42rem;
    object-fit: contain;
}
.crew__line{
    display: none;
}
.crewDots{
    order: 2;
}
.crewDots__item{
    width: 1.6rem;
    height: 1.6rem;
}
.crewDescription{
    order: 1;
    max-width: 520px;
    margin: 0 auto;
}
.crewDescription__profession{
    font-size: 2.4rem;
}
.crewDescription__name{
    font-size: 4rem;
}
.crewDescription__content{
    font-size: 2rem;
}
/* estilos para la pagina de technology.html */
.tech{
    background-image: url("../Images/technology/background-technology-tablet.jpg");
    min-height: 980px;
}
.technology__title{
    text-align: start;
    margin-block-start: 0;
    padding-left: 3.8rem;
    font-size: 2rem;
}
.technology__image{
    height: 28rem;
}
.technology__container{
    width: 6rem;
    height: 6rem;
}
.technology__container p{
    font-size: 2rem;
}
.technology__numbers{
    margin-block-end: 4rem;
}
.technology__description{
    max-width: 520px;
    margin: 0 auto;
}
.technology__term{
    font-size: 2rem;
}
.technology__vehicle{
    font-size: 4rem;
}
.technology__content{
    font-size: 2rem;
}